{{!-- {{#each followees}} --}}
  <div class="row user-row">
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img class="user-img"src="https://www.2025ad.com/typo3conf/ext/providerconti/Resources/Public/src/Images/profil-pic_dummy.png" alt="...">
      </a>
    </div>
    <div class='well'>
      <h3>{{followee.username}}<h3>
        <p>{{followee.email}}</p>
        <button type="button" class="btn btn-default unfollow-btn" data-eventId="{{this._id}}">Unfollow</button>
    </div>
  </div>
  
{{!-- {{/each}} --}}
