$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$yell: #E2DA99;
$brwn: #342900;
$blu: #5E9CA0;
$lite-blu: #73AFB6;
$drk-brwn: #2B2301;
$normal-black: #000;
$form-background: rgba(51, 51, 51, .5);
$font-base: 2em;
$charcoal: #333;

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}

.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}

.username{
  font-size: $font-base;
  font-weight: bolder;
}

body {
  font-family: Lato;
}

.nav-btn {
  padding-right: 5%;
  padding-left: 2%;
  margin-top: 8%;
  font-weight: bolder;
  font-size: $font-base/2;
  color: $charcoal
}

.nav-tabs > li > a,
.nav-tabs > li > a,
.nav-tabs > li > a {
  color: $blu !important;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: $charcoal !important;
}

.tab-button {
  border: 2px $blu solid;
  border-radius: 5%;
  border-top: 3px $blu solid;
  border-left: 3px $blu solid;
  border-right: 3px $blu solid;
}

#content-div {
  background-color: $charcoal;
  width: 100%;
  border: 2px $blu solid;
  border-radius: .2%;
}

.tab-pane, .user-row {
  width: 85%;
  margin: auto;
  padding-top: 5%;
}

.nav-btn:hover {
  color: $blu !important;
}

.nav-btn  {
  color: $lite-blu !important;
}

.user-img {
    height: auto;
    width: auto;
    max-width: 80px;
    max-height: 80px;
    padding-top: 5%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    border: 2px $charcoal solid;
}

.event-img {
  height: 65px;
  width: 65px;
}

.user-row {
  width: 65%;
}

.remove-followee-btn {
  color: $charcoal !important;
  background-color: $lite-blu;
  border-color: $lite-blu;
  margin-bottom: 2%;
}

.remove-event-button {
  color: $charcoal !important;
  background-color: $lite-blu;
  border-color: $lite-blu;
  margin-bottom: 2%;
}

.add-followee-btn {
  color: $lite-blu !important;
  background-color: $charcoal;
  border-color: $charcoal;
  margin-top: 2%;
}

.add-event-button {
  color: $lite-blu !important;
  background-color: $charcoal;
  border-color: $charcoal;
  margin-top: 2%;
}

.hidden {
  display: none;
}

.landing-img-placeholder {
  visibility: hidden;
}

footer {
  height: 250px;
  background-color: $charcoal;
  border: 1px none;
  border-radius: 5px;
}

.navbar-default {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  border-bottom: 5px $blu solid;
  border-top: 5px $blu solid;
 }

.landing {
  background-image: url('http://i.imgur.com/yo0dgKc.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 5%;
}

.landing-img {
  height: auto;
  width: auto;
}

.fa-github {
  color: $blu;
  font-size: $font-base*5;
  text-align: center;
  left: 50%;
  position: relative;;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fa-github:hover {
  color: $lite-blu;
}

.logo-div {
  padding-bottom: 2%;
  margin: 0 auto;
}

.logo {
  text-align: center;
  color: $blu;
  padding-bottom: 2%;
  padding-top: 2%;
  font-size: $font-base*2;
}

.auth-form-container {
  padding-top: 2%;
  background-color: $form-background;
  border: 2px white solid;
  border-radius: 20px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  padding-bottom: 3%;
}

.auth-form-container .auth-form-element {
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  color: $yell;
  margin-bottom: 2.5%;
}

.bs-example {
  margin-top: 10%;
}

.auth-form-container .auth-form-element .btn {
  width: 20%;
  margin-bottom: 10%;
  margin-top: 5%;
}

.btn-primary {
  background: $blu;
  border-color: $normal-black
}

.btn-default {
  border-color: $normal-black
}

.btn-primary:hover {
  border-color: $yell;
  background: $blu;
  color: $normal-black
}

.btn-default:hover {
  border-color: $yell;
}

.auth-form-title {
  padding-top: 5%;
  left: 50%;
  font-size: 1.5em;
  font-weight: bolder;
  color: $yell;
}

.auth-form {
  color: $blu;
  width: 45%;
}
